<div ng-controller="AdminCtrl">

<h1>Admin Interface</h1>

<p ng-if="!usersLoaded">Loading Users...</p>
<div ng-show="usersLoaded">
<div class="alert alert-success text-center">
	<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Success!</strong> Loaded {{userCount}} users.
</div>


<!-- show drop down menu with users -->
<div class="form-group">
	<label>Select User:</label>
	<select ng-model="user_selected_uid" ng-change="change()" class="form-control">
		<option ng-repeat="user in users" value="{{user.uid}}">{{user.first_name}}
{{user.last_name}} -- {{user.affiliation}} -- {{user.uid}}</option>	
	</select>
</div>

<table class="table table-condensed">
		<tr>
		<th>First Name</th>
		<td>{{userSelected.first_name}}</td>
	</tr>
	<tr>
		<th>Last Name</th>
		<td>{{userSelected.last_name}}</td>
	</tr>
	<tr>
		<th>Date Started</th>
		<td>{{userSelected.date_started | date: 'medium' }}</td>
	</tr>
	<tr>
		<th>Date Finished</th>
		<td>{{userSelected.date_finished | date: 'medium' }}</td>
	</tr>
	<tr>
		<th>Affiliation</th>
		<td>{{userSelected.affiliation}}</td>
	</tr>
	<tr>
		<th>UID</th>
		<td>{{userSelected.uid}}</td>
	</tr>
</table>

<div class="alert alert-warning text-center">
	<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Warning!</strong> READ-ONLY View.
</div>

<style>
.angular-ui-tree-handle {
    background: #f8faff;
    /*border: 1px solid #dae2ea;*/
    color: #3c3c3c;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    /*color: white;
    background: blue;
    border-color: blue;*/
		color: black;
		background: skyblue;
		border-color:skyblue;
		cursor: grab;
}


.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.angular-ui-tree-node { 
	margin: 5px;
	/*border: 1px solid lightgray;*/
    border: 1px solid #dae2ea;
}

.angular-ui-tree-placeholder {
	margin: 5px;
}

.popover {
	color: black;
	width: 300px;
}


</style>
<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    {{node.title}}
		<span data-toggle="popover"
data-title="Description"
data-content="{{node.description}}"
data-trigger="hover"
data-placement="right"
data-nodrag=""
class="glyphicon glyphicon-info-sign pull-right"></span>

  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" class="angular-ui-tree-node">
    </li>
  </ol>
</script>


<div class="row">
<div class="col-md-9">
<div ui-tree id="tree-root" data-drag-enabled="false">
	<ol ui-tree-nodes ng-model="userSelected.list">
		<li ng-repeat="node in userSelected.list" ui-tree-node ng-include="'nodes_renderer.html'"></li>
	</ol>
</div>
</div><!-- col-md-9-->
<div class="col-md-3">
</div><!-- col-md-3-->
</div><!-- row -->




<!-- show simple tree view of data input -->
<br/>

</div><!-- usersLoaded -->
</div><!-- AdminCtrl -->
