<div ng-if="!user">

<div class="alert alert-danger text-center">
	<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Deadline Has Passed!</strong> Please contact Molly Spencer if you have any questions.
</div>



	<div class="jumbotron" style="background: transparent">
		<h1>Coffee Flavors</h1>
		<p>Your task is to sort 99 coffee flavor attributes.</p>
		<img src="images/coffee_small.jpg">
	</div>

	<h2>Instructions</h2>
	<p>Take as much time as you need.  Usually, this task takes between 30 to 60 minutes.
	<ol>
		<li>When you are ready, click "Login".</li>
		<li>When you finish, click "Submit".  You should see a "Thank You" message
afterwards.</li>
	</ol>

	<h2>Troubleshoot</h2>
	<ul>
		<li>If submitting fails once, please try again.</li>
		<li>If submitting fails two or more times, contact Molly Spencer.</li>
	</ul>
</div><!-- !user -->




<div ng-if="user">

<div class="alert alert-danger text-center">
	<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Deadline Has Passed!</strong> Please contact Molly Spencer if you have any questions.
</div>



<div ng-show="saved" class="jumbotron">
<h1>Thank You!</h1>
<p>Your data has been saved.</p>
<p>Please Log Out.</p>
</div>

<div ng-show="!saved">

<div class="panel panel-default">
	<div class="panel-heading">
		INSTRUCTIONS (PLEASE READ CAREFULLY)</div>
	<div class="panel-body">
		<p>Please enter your name and affiliation (whether you were recruited by UC-Davis
or SCAA/Industry). </p>

<p>Below is a list of 99 attributes (adjectives) that can be used to describe
coffee. Based on your coffee and sensory experiences, please sort them into a
bullet point hierarchy format (i.e., the most general attributes on the far
left, and then attributes that fall into the general category will be slightly
to the right and inside the box, and attributes that fall into the
sub-categories will be even further to the right and inside sub-boxes, as shown
in the diagram in the email sent to you. YOU CAN SORT THE ATTRIBUTES INTO AS
MANY LEVELS AS YOU FEEL NECESSARY. The attributes are given to you as a list,
and you can move the words by clicking and dragging (a box outlined with a
dotted line will appear where you are placing the word, so please make sure it
is under the correct category or sub-category. You can move words as many times
as you want.</p>

<p> If you are unfamiliar with a word, hover your mouse over the question mark
next to the word, and a definition will appear. You do not need to read every
definition; if you are familiar with the word, you may sort it the way you see
fit without reading the definition. If you feel there is an attribute is not
related to any others, leave it on the far left with no bullet points.</p>

<p>Once you have finished sorting, please double check your work.  Then click
the "SUBMIT" button.  If your data is saved, you will see a "Thank You" message.
Then you can log out.  Thanks for participating!</p>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label for="usr">First Name:</label>
			<input type="text" class="form-control" ng-model="user.first_name" placeholder="First Name">
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="usr">Last Name:</label>
			<input type="text" class="form-control" ng-model="user.last_name" placeholder="Last Name">
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Affiliation</label>
			<select class="form-control" ng-model="user.affiliation">
				<option value="ucd">UC Davis</option>
				<option value="industry">Industry</option>
			</select>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
		<label>Action:</label>
  	<button class="btn btn-primary btn-block" ng-click="save()">Submit</button>
		</div>
	</div>

</div><!--row-->


<!--
<p>
{{user}}
</p>
-->
<style>
.angular-ui-tree-handle {
    background: #f8faff;
    /*border: 1px solid #dae2ea;*/
    color: #3c3c3c;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    /*color: white;
    background: blue;
    border-color: blue;*/
		color: black;
		background: skyblue;
		border-color:skyblue;
		cursor: grab;
}


.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.angular-ui-tree-node { 
	margin: 5px;
	/*border: 1px solid lightgray;*/
    border: 1px solid #dae2ea;
}

.angular-ui-tree-placeholder {
	margin: 5px;
}

.popover {
	color: black;
	width: 300px;
}


</style>
<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    {{node.title}}
		<span data-toggle="popover"
data-title="Description"
data-content="{{node.description}}"
data-trigger="hover"
data-placement="right"
data-nodrag=""
class="glyphicon glyphicon-info-sign pull-right"></span>

  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" class="angular-ui-tree-node">
    </li>
  </ol>
</script>

<div class="row">
<div class="col-md-9">
<div ui-tree id="tree-root">
	<ol ui-tree-nodes ng-model="user.list">
		<li ng-repeat="node in user.list" ui-tree-node ng-include="'nodes_renderer.html'"></li>
	</ol>
</div>
</div><!-- col-md-9-->
<div class="col-md-3">

</div><!-- col-md-3-->

</div><!-- row -->
<br>

<div class="form-group">
	<label for="date">Date:</label>
	<input type="date" class="form-control" ng-model="date" disabled>
</div>

</div><!-- !saved -->
</div><!-- if user -->

